.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg-blue {
  background-color: #2f74ba;
}
.bg-white {
    background-color:#000000;
    color:#ffffff;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #2f74ba;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2f74ba;
}
.div1 {
    margin-top:30vh;
    background-color:#747875;
}

.div2 {
    margin-right:15vw;
    margin-left:10vw;
}
.h11 {
    margin-left:30vw;

}
.chek {
    background-color:#747875;
    margin-left:45vw;
    width:7vw;
}
.p1 {
    margin-left:40vw;
}

footer {
  background-color: #2f74ba;
  color: rgb(143, 28, 28);
  padding: 10px 0;
}

h2 {
  margin-bottom: 20px;
}
